body {


  display: flex;
  justify-content: center;
}

section
{
  margin-left: 300px;
}

nav
{

}

.test
{
  position: fixed;
  top: 0;
  left: 0;
  max-height: 800px;
  overflow: auto;
  background-color: white;
  color: inherit;
}

nav ul
{
  margin: 10px 75px 30px auto;
  list-style-type: none;
  line-height: 25px;
}

nav ul a
{
  color: black;
  background-color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.navp
{
  margin: 15px auto auto 40px;
  line-height: 2px;
  font-size: 1.2em;
  text-decoration: underline;
}

.ombt {
    text-shadow: -2px -2px 0px pink;
}

.ombb {
    border: 2px purple solid;
    box-shadow: 3px 3px 8px red;
}

.bds {
    border: 2px red outset;
}

.bda {
    border: 2px red outset;
    border-radius: 10px 30px 30px 10px;
}

.c1 {
    color: green;
    background-color: inherit;
    font-weight: bold;
}

.cr {
    color: red;
    background-color: inherit;
    font-weight: bold;
}

.c2 {
    line-height: 22px;
    color: green;
    background-color: inherit;
    font-weight: bold;
    border: 2px green solid;
}

.c3 {
    line-height: 22px;
    color: green;
    background-color: inherit;
    font-weight: bold;
    border: 2px green dotted;
}

.c4 {
    line-height: 22px;
    color: green;
    background-color: inherit;
    font-weight: bold;
    border: 2px green dashed;
}

.c5 {
    line-height: 22px;
    color: green;
    background-color: inherit;
    font-weight: bold;
    border: 2px green double;
}

.c6 {
    line-height: 22px;
    color: green;
    background-color: inherit;
    font-weight: bold;
    border: 2px green groove;
}

.c7 {
    line-height: 22px;
    color: green;
    background-color: inherit;
    font-weight: bold;
    border: 2px green ridge;
}

.c8 {
    line-height: 22px;
    color: green;
    background-color: inherit;
    font-weight: bold;
    border: 2px green inset;
}

.c9 {
    line-height: 22px;
    color: green;
    background-color: inherit;
    font-weight: bold;
    border: 2px green outset;
}

.Arial {
    font-family: Arial, sans-serif;
}

.Arialblack {
    font-family: "Arial Black", sans-serif;
}

.Comic {
    font-family: "Comic Sans MS", sans-serif;
}

.Courier {
    font-family: "Courier New", sans-serif;
}

.Georgia {
    font-family: Georgia, sans-serif;
}

.Impact {
    font-family: Impact, sans-serif;
}

.Times {
    font-family: "Times New Roman", sans-serif;
}

.Trebuchet {
    font-family: "Trebuchet MS", sans-serif;
}

.Verdana {
    font-family: Verdana, sans-serif;
}

a {
    font-weight: bold;
}

blockquote {
    background-color: grey;
    color: white;
}

h2 {
    font-size: 3em;
    text-align: center;
}

h3 {
    display: table;
    padding-right: 10px;
    font-size: 2em;
    text-align: center;
    background-color: grey;
    color: inherit;
    min-width: 10%;
    max-width: 70%;
    height: 40px;
    overflow: auto;
    margin: 20px auto 60px auto;
    padding-left: 10px;
    word-wrap: break-word;
}

.a2:hover {
    color: red;
    background-color: inherit;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}

.a3:active {
    color: green;
    background-color: inherit;
    font-weight: normal;
    text-decoration: overline;
}

.a4:focus {
    color: maroon;
    background-color: inherit;
    font-weight: normal;
    text-decoration: line-through;
}

.a5:visited {
    color: pink;
    background-color: inherit;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 1px red;
}
